<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Students page</title>
</head>
<body>
	<h1>Lista de Estudiantes</h1>
	<ul>
	<% studentsArray.forEach(function (oneStudent){ %>
		<li>
			<h2>
				<%= oneStudent.studentName + ' ' + oneStudent.studentLastName %>
			</h2>
			<img src="<%= oneStudent.studentAvatar %>" width="100"> <br>
			<a href="/detail/<%= oneStudent.id %>">VER PERFIL</a><br><br>
		</li>
	<% }) %>
	</ul>
</body>
</html>